@import '../fonts/stylesheet';
// Fonts
$sfUiDisplay: 'SF UI Display';
$sfProText: 'SF PRO Text';
$roboto: 'Roboto';
// Colors
$azure: #0099ff;
$battleship-grey: #6a757f;
$black: #000000;
$boring-green: #57b964;
$cool-grey: #8a959f;
$dark-sky-blue: #4a90e2;
$dark_grey: #3a3a3a;
$dll-blue: #009bff;
$duck-egg-blue: #cdebfc;
$ice-blue: #f3fbff;
$ice-blue-two: #fafeff;
$light-grey: #f0f1f1;
$light-sage: #dcf6e4;
$orange-pink: #fe6a58;
$orange-pink-two: #ff6358;
$pale-grey: #f8f9fa;
$pale-grey-two: #fcf7f8;
$pale-red: #dd574d;
$pale-blue: #effbff;
$pinkish-grey: #cbcbcb;
$pink: #fdc6c0;
$purple-brown: #231f20;
$silver: #e6e7e8;
$silver-two: #bcbec0;
$slate-grey: #5e5f65;
$soft-purple: #a264b5;
$very-light-pink: #ffe7e4;
$light-salmon: #faada6;
$warm-grey: #8c8c8c;
$warm-grey-two: #979797;
$warm-grey-three: #99999e;
$warm-grey-four: #b9bbc3;
$white: #ffffff;
$white-four: #fcfcfc;
$white-three: #f6f6f6;
$white-two: #e7e7e7;
$white-five: #dddddd;
$white-95: rgba(255, 255, 255, 0.95);
$black-rgba5: rgba(0, 0, 0, 0.5);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);
$black-rgba08: rgba(0, 0, 0, 0.08);
$gray: #888888;
$pumice: #d1d3d1;
$pale-sky: #6f7983;
