<kendo-grid class="grid rateFactors" #grid [data]="data" [kendoGridBinding]="data" *ngIf="data && columns" #kendoGridComponent>
	<kendo-grid-column
		*ngFor="let col of columns; let i = index"
		[width]="col.width"
		[locked]="isLocked && col.isLockable"
		field="{{ col.columnGroup }}"
		title="{{ col.columnName }}"
	>
		<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex" *ngIf="displayRFTermHeader(col, gridType)">
			RF: <br />
			{{ col.columnName }} M
		</ng-template>
		<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex" *ngIf="col.columnName === 'CREDIT RATING'">
			CREDIT <br />
			RATING
		</ng-template>
	</kendo-grid-column>
	<ng-template kendoGridNoRecordsTemplate>
		<div class="no-records-thumb">
			<img
				src="/assets/images/dll/imgCatsprods.png"
				srcset="/assets/images/dll/imgCatsprods@2x.png 2x, /assets/images/dll/imgCatsprods@3x.png 3x"
			/>
		</div>
		<div class="no-records">
			{{ noRecordsMessage }}
		</div>
	</ng-template>
</kendo-grid>
