<article class="public-container terms">
	<br />
	<br />
	<div class="dll-blue bordered-top privacy-policy-title">
		Privacy Statement
	</div>
	<h4>
		Introduction
	</h4>
	<p>
		De Lage Landen International B.V. and its subsidiaries and affiliated companies (hereafter together referred to as DLL) respect your
		privacy and undertake to treat personal data confidentially. DLL’s guiding principle is to respect (potential) clients’ privacy in
		all its activities. DLL shall process your personal data only in accordance with this Privacy Statement and with applicable data
		protection laws. In the Netherlands, DLL also adheres to the privacy statement of the Rabobank Group (of which DLL is a part). This
		Privacy Statement describes the data processing that is undertaken by DLL and your rights in respect of such data processing.
	</p>
	<h4>
		Collection of personal data
	</h4>
	<p>
		DLL supplies finance solutions to buyers of capital goods. To do so, it works together with manufacturers and distributors of these
		goods. We may offer and/or sell services and/or products directly, through these manufacturers and distributors or through other
		vendors (hereafter: our partner companies). Personal data will usually be collected from you when you (or your company) applies for
		one of our products with DLL. Occasionally, DLL may obtain personal data from other sources (for example: the Rabobank Group or
		credit rating companies).
	</p>
	<h4>
		Scope and purposes of processing personal data
	</h4>
	<p>
		Your personal data will be used by DLL for performing credit verifications, providing and improving our financial products and
		services, inclusion in our contract administration and customer relationship management systems, compliance with applicable rules
		and regulations, prevention of fraud and money laundering, maintaining and – subject to your prior authorization – expanding our
		commercial relationship with you (e.g. through direct marketing), and to conduct market research. DLL may also use your personal
		data to syndicate and securitize financial products to other financial companies.
	</p>
	<h4>
		Disclosure of personal data to third parties
	</h4>
	<p>
		DLL may share your personal data within its group (including Rabobank) and also with third parties, including partner companies and
		other companies involved in the sale and provision of our services, for the purposes set out above. DLL shall not share your
		personal data with third parties for purposes which are incompatible with the purposes set out above.
		<br />
		DLL will use its best efforts to ensure that these third parties will abide by the principles laid down in this Privacy Statement.
		To the extent these parties will process your personal data on our behalf, we will require that they take adequate measures to
		ensure the safety and integrity of your personal data.
	</p>
	<h4>
		Rights
	</h4>
	<p>
		You have the right to obtain an overview of and information on the source of your personal data and to request DLL to update,
		rectify or delete the personal data if such data is incorrect, incomplete, irrelevant or in violation with laws and regulations. You
		can contact DLL by writing at the address mentioned under the contact button below.
		<br />
		You also have the right to object, free of charge, if you do not want to receive information on our financial products and services
		which we may send to you from time to time. To do so, please send an email message to the division of DLL you are doing business
		with, or use the address provided in our mailing to you.
	</p>
	<h4>International transfer</h4>
	<p>
		Your personal data may be transferred to locations outside the European Economic Area, for example to our subsidiaries and partner
		companies which are located there. Where such a transfer of your data takes place to a country outside the European Economic Area,
		DLL will ensure that an adequate level of protection is ensured, that the necessary measures and relevant controls are in place to
		protect the confidentiality and security of your data and that this transfer is in compliance with applicable data protection
		legislation.
	</p>
	<h4>
		Cookies for management information
	</h4>
	<p>
		DLL collects information on its website through the use of cookies, which are small text files that a website automatically
		transfers to your browser. The data collected through such cookies are used to improve the technical accuracy of the various
		internet pages and to better adapt this website to user needs and requirements. To disable cookies, please refer to the settings of
		your browser to stop automatic acceptance. Disabling cookies may affect the functionality of our website.
	</p>
	<h4>
		Amendment of the Privacy Statement
	</h4>
	<p>
		DLL will amend and update this Privacy Statement. We recommend that you consult the statement on a regular basis in order to keep
		informed of these changes.
	</p>
</article>
